main {
  border: 2px solid black;
  border-image-source: linear-gradient(to bottom right, #ffe100, #4500b3);
  border-image-slice: 2;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.description {
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-image-source: linear-gradient(to bottom right, #ffe100, #4500b3);
  border-image-slice: 2;
  background-color: white;
  padding: 10px;
}