header img {
  height: 200px;
  display: block;
  margin: 25px auto 25px auto;
}

header {
  padding-bottom: 25px;
  background-color: #080014;
}

@media (max-width: 481px) {
  header img {
    height: 150px;
  }  

}